.containerOfDetails {  
    height: 120px;
    display: block;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.link {
    font-size: 25px;
}

.infoOfMovie {
    margin-left: 30px;
}

.text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.wrapper {
    display: flex;
    margin-top: 40px;
}

.listOfGenres {
    display: flex;
    list-style: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.item:not(:last-child) {
    margin-right: 10px;
}




